html {
  font-family: Inter;
  font-size: 10pt;
}

.antialiased { -webkit-font-smoothing: antialiased }
.border-0 { border-width: 0 }
.border-bottom-2 { border-bottom-width: 0.125rem }
.border-left-4 { border-left-width: 0.25rem }
.border-top-2 { border-top-width: 0.125rem }
.border-gray-200 { border-color: hsl(232deg, 16%, 88%) }
.border-gray-1100 { border-color: hsl(232deg, 16%, 16%) }
.border-solid { border-style: solid }
.bg-gray-100 { background-color: hsl(232deg, 16%, 96%) }
.bg-gray-1100 { background-color: hsl(232deg, 16%, 16%) }
.flex { display: flex }
.flex-1 { flex: 1 }
.inline-block { display: inline-block }
.list-none { list-style: none }
.list-inside { list-style-position: inside }
.list-square { list-style-type: square }
.leading-1 { line-height: 1 }
.leading-1\.5 { line-height: 1.5 }
.max-w-192 { max-width: 12rem }
.m-16 { margin: 1rem }
.m-64 { margin: 4rem }
.my-16 { margin-bottom: 1rem; margin-top: 1rem }
.mb-4 { margin-bottom: 0.25rem }
.mb-8 { margin-bottom: 0.5rem }
.mb-16 { margin-bottom: 1rem }
.mb-32 { margin-bottom: 2rem }
.mr-16 { margin-right: 1rem }
.mx-auto { margin-left: auto; margin-right: auto }
.p-16 { padding: 1rem }
.pb-8 { padding-bottom: 0.5rem }
.pl-8 { padding-left: 0.5rem }
.pl-16 { padding-left: 1rem }
.pl-24 { padding-left: 1.5rem }
.py-16 { padding-bottom: 1rem; padding-top: 1rem }
.absolute { position: absolute }
.relative { position: relative }
.text-14 { font-size: 0.875rem }
.text-16 { font-size: 1rem }
.text-18 { font-size: 1.125rem }
.text-20 { font-size: 1.25rem }
.text-24 { font-size: 1.5rem }
.text-gray-500 { color: hsl(232deg, 16%, 64%) }
.text-gray-1100 { color: hsl(232deg, 16%, 16%) }
.text-center { text-align: center }
.text-right { text-align: right }
.text-semibold { font-weight: 600 }
.text-uppercase { text-transform: uppercase }
.text-nowrap { white-space: nowrap }
.text-wide { letter-spacing: 0.0625rem }
.h-4 { height: 0.25rem }
.w-4 { width: 0.25rem }
.t-0 { top: 0 }
.t-8 { top: 0.5rem }
.l-0 { left: 0 }
.l--4 { left: -0.25rem }
.w-1\/4 { width: 25% }
.w-1\/3 { width: 33.33% }
.w-2\/3 { width: 66.67% }
.w-3\/4 { width: 75% }
